@import '@radix-ui/colors/gray.css';
@import '@radix-ui/colors/tomato.css';
@import '@radix-ui/colors/black-alpha.css';

.App {
  max-height: 100vh;
  overflow: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #6699CC;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-box {
  text-align: center;
  background-color: #E1EBEE;
  height: 30vh;
  width: 90vh;
  border-radius: 10px;
}

.Progress-bar-outside {
  width: 100%;
  height: 30px;
  border-radius: 5px;
  background-color: #E1EBEE;
}

.Progress-bar-inside {
  height: 100%;
  border-radius: 5px;
  background-color: var(--cyan-8);
}

.Click-me-button {
  width:150px;
  max-width:150px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.Click-me-text {
  width:450px;
  max-width:450px;
  align-items: center;
  justify-content: center;
  text-align: center;
}



.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.SliderRoot {
  position: relative;
  display: flex;
  align-items: center;
  user-select: none;
  touch-action: none;
  height: 20px;
}

.SliderTrack {
  background-color: var(--slate-a11);
  position: relative;
  flex-grow: 1;
  border-radius: 9999px;
}

.SliderRange {
  position: absolute;
  background-color: var(--cyan-9);
  border-radius: 9999px;
  height: 100%;
}

.SliderThumb {
  position: relative;
  display: block;
  width: 20px;
  height: 20px;
  background-color: white;
  box-shadow: 0 2px 10px var(--slate-a11);
  border-radius: 10px;
}

.SliderThumb:hover {
  background-color: var(--slate-3);
}

.SliderThumb:active {
  outline: none;
  box-shadow: 0 0 0 5px var(--slate-a11);
}


button {
  all: unset;
}

.SwitchRoot {
  width: 42px;
  height: 25px;
  background-color: var(--slate-a9);
  border-radius: 9999px;
  position: relative;
  box-shadow: 0 2px 10px var(--slate-a7);
  -webkit-tap-highlight-color: var(--slate-11);
}

.SwitchRoot[data-state='checked'] {
  background-color: var(--cyan-10);
}

.SwitchThumb {
  display: block;
  width: 21px;
  height: 21px;
  background-color: white;
  border-radius: 9999px;
  box-shadow: 0 2px 2px var(--slate-a7);
  transition: transform 100ms;
  transform: translateX(2px);
  will-change: transform;
}
.SwitchThumb[data-state='checked'] {
  transform: translateX(19px);
}

.Label {
  color: var(--slate-12);
  font-size: var(--font-size-2);
  line-height: 1;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color: var(--cyan-12);
}



@import "@radix-ui/colors/black-alpha.css";
@import "@radix-ui/colors/violet.css";
@import "@radix-ui/colors/mauve.css";

/* reset */
input,
textarea,
button {
  all: unset;
  box-sizing: border-box;
}

.FormRoot {
  width: 30vw;
}

.FormField {
  display: grid;
  margin-bottom: 10px;
}

.FormLabel {
  font-size: 15px;
  font-weight: 500;
  line-height: 35px;
  color: black;
}

.FormMessage {
  font-size: 13px;
  color: black;
  opacity: 0.8;
}

.FormInput,
.FormTextarea {
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;

  font-size: 15px;
  color: black;
  background-color: var(--black-a2);
  box-shadow: 0 0 0 1px var(--black-a9);
}
.FormInput:hover,
.FormTextarea:hover {
  box-shadow: 0 0 0 1px black;
}
.FormInput:focus,
.FormTextarea:focus {
  box-shadow: 0 0 0 2px black;
}
.FormInput::selection,
.FormTextarea::selection {
  background-color: var(--black-a9);
  color: black;
}

.FormInput {
  padding: 0 10px;
  height: 35px;
  line-height: 1;
}

.FormTextarea {
  resize: none;
  padding: 10px;
}

.FormButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 0 15px;
  font-size: 15px;
  line-height: 1;
  font-weight: 500;
  height: 35px;

  background-color: white;
  color: var(--cyan-11);
  box-shadow: 0 2px 10px var(--black-a7);
}
.FormButton:hover {
  background-color: var(--mauve-3);
}
.FormButton:focus {
  box-shadow: 0 0 0 2px black;
}

.readme {
  font-size: var(--font-size-2);
}

.readme a {
  color: var(--cyan-10);
}

.readme h1,
.readme h2,
.readme h3,
.readme h4,
.readme h5,
.readme h6 {
  font-size: inherit;
  font-family: inherit;
}

.react-joyride__beacon {
  visibility: hidden;
}

button {
  all: unset;
}

.RadioGroupRoot {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.RadioGroupItem {
  background-color: white;
  width: 17px;
  height: 17px;
  border-radius: 100%;
  border:solid;
  border-color: var(--slate-7);
}
.RadioGroupItem:hover {
  background-color: var(--cyan-2);
}

.RadioGroupIndicator {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
}
.RadioGroupIndicator::after {
  content: '';
  display: block;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--cyan-10);
}

.Label {
  color: var(--slate-12);
  font-size: 15px;
  line-height: 1;
  padding-left: 15px;
}

.ProgressRoot {
  position: relative;
  overflow: hidden;
  background: var(--black-a9);
  border-radius: 99999px;
  width: 300px;
  height: 10px;

  /* Fix overflow clipping in Safari */
  /* https://gist.github.com/domske/b66047671c780a238b51c51ffde8d3a0 */
  transform: translateZ(0);
}

.ProgressIndicator {
  background-color: var(--cyan-10);
  width: 100%;
  height: 100%;
  transition: transform 660ms cubic-bezier(0.65, 0, 0.35, 1);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}