@import '@radix-ui/colors/gray.css';
@import '@radix-ui/colors/tomato.css';

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #6699CC;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-box {
  text-align: center;
  background-color: #E1EBEE;
  height: 30vh;
  width: 90vh;
  border-radius: 10px;
}

.Progress-bar-outside {
  width: 100%;
  height: 30px;
  border-radius: 5px;
  background-color: #E1EBEE;
}

.Progress-bar-inside {
  height: 100%;
  border-radius: 5px;
  background-color: var(--tomato-10);
}

.Click-me-button {
  width:150px;
  max-width:150px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.Click-me-text {
  width:450px;
  max-width:450px;
  align-items: center;
  justify-content: center;
  text-align: center;
}



.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
